[Unit]
Description=OpenNMS Horizon Core Web
After=docker.service
BindsTo=docker.service
Conflicts=shutdown.target reboot.target halt.target
 
[Service]
TimeoutStartSec=0
TimeoutStopSec=30
Restart=always
RestartSec=10

WorkingDirectory=/opt/docker/opennms

ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose stop
 
NotifyAccess=all
 
[Install]
WantedBy=multi-user.target